[HRSC_CONFIG]
# HRSC SDK CONFIG FILE
[LOG]
LOG_LEVEL=3
SAVE_LOG_PATH=""
SAVE_LOG_FLAG=0
[DATA]
# save data mode, 0 is new mode, 1 is previous mode
SAVE_DATA_MODE=0
# switch flag 1
SAVE_DATA_FLAG1=""
# file name 1
SAVE_DATA_PATH1=""
# switch flag 2
SAVE_DATA_FLAG2=""
# file name 2
SAVE_DATA_PATH2=""
# valid if only SAVE_DATA_MODE is 1
SAVE_AUDIO_FLAG=""
# valid if only SAVE_DATA_MODE is 1
SAVE_AUDIO_PATH=""
# limit file size, support G,M,K, default K
PER_FILE_LIMIT_SIZE=0K
[ASR]
SAVE_ASR_FLAG=""
SAVE_ASR_PATH=""
[HESR]
DECODER_NUM=2
[CPU]
CPU_THRESHOLD_FREQ=1008000
[AUTH]
CPU_THRESHOLD_FREQ="SMRH7EZGQXVHXMJN"
LIMIT_NUM=0
[VERSION]
VERSION="xiaoya_rk3326.202012171613"
[TCP TEST]
TEST_IP=""
TEST_PORT=""
